:root {
    --background-color: #202020;
    --plain-text: #cfcfcf;
    --important-text: #ffffff;
}

html {
    background-color: var(--background-color);
}

body {
    max-width: 80ch;
    color: var(--plain-text);
    font-size: 16px;
}

p, h1, h2 {
    color: var(--important-text);
    font-family: serif;
    text-align: center;
}

.content {
    font-family: monospace;
}

h1 {
    font-size: 20px;
}

a {
    color: var(--important-text) !important;
    text-decoration: underline;
}

pre {
    white-space: pre-wrap;
}
